body {
  margin: 0;
  padding: 0;
  font-family: "Bank Sans", "Helvetica", "Arial", sans-serif;
  background-color: #fff2ac;
  font-size: 19px;
}

@font-face {
  font-family: "Bank Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BankSansEFCY-Med.otf");
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 880px;
  margin: 0 auto;
}

.about-company {
  padding-bottom: 60px;
}

.about-company__desc {
  width: 780px;
}

.about-company__img-container {
  text-align: right;
  max-width: 590px;
  min-width: 410px;
}

.about-company__wrapper {
  display: flex;
}

.about-company__img {
  width: 275px;
  height: 375px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.about-company__quote {
  font-family: "Calibri, Bank Sans", "Helvetica", "Arial", sans-serif;
  font-style: italic;
}

.nav-wrapper {
  width:  440px;
  margin:  0 auto;
}

.main-header {
  min-height: 500px;
}

.main-header > img {
  margin-top:  150px;
}

.header-title {
  text-align: center;
}

.header-nav ul {
  display: flex;
  justify-content: space-around;
  padding:  0;
  margin-top: 68px;
  margin-bottom: 40px;
}

.header-nav li {
  list-style: none;
}

.header-nav a {
  color:  #000000;
  text-decoration: none;
}

.features {
  margin-top:  50px;
  margin-bottom:  50px;
}

.slider {
  width: auto;
  height: 600px;

  background:  url(../img/slider.jpg) center;
  background-size:  cover;
  border:  1px solid transparent;
  display: flex;
  justify-content: center;
}

.slider a {
  color:  #000000;
  font-size:  14px;
}

.slider-items__container {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  width: 100%;
}

.slider-item {
  width:  400px;
  background-color:  rgba(255, 242, 172, 0.7);
  text-align: center;
}

.sale-banner {
  width: auto;
  height: 550px;
  background: url(../img/main2.jpg) no-repeat;
  background-size:  cover;
  border:  1px solid transparent;
}

.sale-container {
  width:  700px;
  height:  400px;
  background-color:  rgba(255, 242, 172, 0.7);
  margin:  80px auto;
  border:  1px solid transparent;
}

.sale-container > h2 {
  margin-left:  20px;
  margin-top:  30px;
}

.sale-container a {
  color:  #000000;
  text-decoration: none;
}

.percent-container {
  margin-left:  400px;
  margin-right:  20px;
  margin-top:  30px;
  text-align:  right;
}

.sale-percent {
  font-size:  70px;
}

.footer {
  background-color: #000000;
  box-sizing: border-box;
  color: #fff;
  padding: 18px 0 75px;
}

.company-info {
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.company-info__block {
  max-width: 300px;
}

.footer-row-wrapper {
  display: flex;
}

.footer-row-wrapper--1 {
  margin-bottom: 50px;
}

.payment-methods {
  flex-grow: 1;
  text-align: center;
}

.payment-methods img {
  margin-right: 7px;
}
.payment-methods img:last-child {
  margin-right: 0;
}

.footer-logo {
  width: 450px;
  height: 120px;
}

.footer-logo-cc-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.footer-logo-cc-container small {
  font-size: 52%;
}

.socials {
  margin-top: 50px;
}

.section-404 {
  text-align: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.section-404 img {
  width: 170px;
  height: 170px;
}

.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-btn {
  text-decoration: none;
  color: #000;
  background-color: #d1c68d;
  padding: 16px 25px;
  display: inline-block;
  vertical-align: top;
}